.container{
    text-align: center;
}

.title{
    margin-top: 50px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title span{
    color: #26ffcb;
    padding-left: 15px;
}

.reset{
    height: 70px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #1f3540;
    font-size: 1.3rem;
    color: #26ffcb;
    margin-top: 25px;
    padding: 0 30px;
}

.boxes{
    display: flex;
    height: 150px;
    width: 150px;
    background: #1f3540;
    border: 4px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
}

.board{
    height: 450px;
    width: 450px;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
}

.boxes img{
    margin: 35px;
}

.title img{
    padding: 20px;
    height: 50px;
}

.name-entry-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.name-entry-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.name-entry-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f3540;
    padding: 20px;
    border-radius: 20px;
}

.name-entry-container label {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.name-entry-container label span{
    margin-bottom: 10px;
    text-align: center;
}

.name-entry-container input {
    padding: 0.5rem;
    font-size: 1rem;
    margin-left: 0.5rem;
    border-radius: 10px;
    outline: none;
    border: none;
    overflow: hidden;
}

.name-entry-container button {
    margin-top: 20px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.name-entry-container button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.name-entry-container button[type="button"] {
    background-color: #f44336;
    color: white;
    border: none;
}

.title img {
    vertical-align: middle;
    margin-left: 0.5rem;
}

.button-container {
    display: flex;
    gap: .8rem;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

@media (max-width: 700px) {
    .board {
        display: flex;
        height: fit-content;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .boxes {
        height: 100px;
        width: 100px;
        margin: 5px;
    }

    .boxes img {
        margin: 20px;
    }

    .reset {
        width: 9rem;
        height: 3rem;
        font-size: 1rem;
        padding: 0 20px;
        margin-top: 10px;
    }

    .title {
        font-size: 30px;
    }

    .title span{
        padding-left: 8px;
    }
}

@media (max-width: 370px) {
    .title {
        font-size: 23px;
        margin-top: 30px;
    }
    .title span {
        padding-left: 6px;
    }
    .boxes {
        height: 80px;
        width: 80px;
        margin: 3px;
    }

    .reset {
        font-size: 0.9rem;
        padding: 0 15px;
        margin-top: 0;
    }

    .title img {
        height: 40px;
    }

    .name-entry-container h1 {
        font-size: 1.5rem;
    }

    .name-entry-container label {
        font-size: 1rem;
    }

    .name-entry-container input {
        font-size: 0.9rem;
    }

    .name-entry-container button {
        font-size: 0.9rem;
    }
}

@media (max-width: 280px) {
    .title {
        font-size: 19px;
    }

    .board{
        margin-bottom: 10px;
    }

    .boxes {
        height: 60px;
        width: 60px;
        margin: 2px;
    }

    .boxes img {
        margin: 10px;
    }

    .reset {
        width: 7rem;
        height: 2.4rem;
        font-size: 0.8rem;
        padding: 0 10px;
    }
    .title img {
        height: 30px;
    }

    .name-entry-container h1 {
        font-size: 1.2rem;
    }

    .name-entry-container label {
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
    }

    .name-entry-container label span{
        font-size: small;
        margin-bottom: 10px;
        text-align: center;
    }

    .name-entry-container input {
        font-size: 0.8rem;
        width: 92%;
        margin-left: 0;
    }

    .name-entry-container button {
        font-size: 0.8rem;
    }
}

@media (max-width: 220px) {
    .title {
        font-size: 15px;
    }
    .boxes{
        height: 50px;
        width: 50px;
        margin: 0;
    }
    .reset {
        width: 7rem;
        height: 2rem;
        font-size: 0.8rem;
        padding: 0 10px;
    }
}